.rerenderIndicator {
  outline: 2px solid #646cff;
  transition: outline-color 0.3s ease-out;
  animation: fade-out-outline 1s ease-out forwards;
  position: relative;
}

@keyframes fade-out-outline {
  0% {
    outline-color: #646cff;
  }
  100% {
    outline-color: transparent;
  }
}

.renderText {
  font-size: 0.8rem;
  color: #646cff;
  position: absolute;
  height: 20px;
  top: -20px;
  right: 0;
  background-color: #646cff;
  color: white;
  padding: 0 5px;
  transition: opacity 0.3s ease-in;
  animation: fade-out-render-text 0.8s ease-in forwards;
  z-index: 1001;
}

@keyframes fade-out-render-text {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
